%h1
  NLP Lifetuning Trainer

%p.intro_text
  Erfolgreiche Seminare benötigen kompetente Trainer die ihre Arbeit verstehen. Unsere Trainer sind Spezialisten auf ihrem Gebiet und bringen viel Erfahrung mit. Uns ist es eine Herzensangelegenheit dir in deinem Seminar die Möglichkeit zu geben von Experten zu lernen.

.space
- @trainers.each do |t|
  %div{class: cycle('left', 'right')}
    %a{href: "/trainer/#{t.slug}", class: 'trainer_preview_item'}
      %img{src: "#{t.profile_picture.url}"}
      .text
        %p
          %strong= t.name
          %br
          %br
          = t.subtitle
          %br
          = (t.description[0..100] +" ...").html_safe
    .space
