-content_for :head do 
  :javascript
    $(document).ready(function () {

      var old=0;
      $("#destination .carousel_item:eq(0)").show();
      $(".customLink").click(function(){
        var rel = $(this).attr("rel");
        var inputstringrel="#destination .carousel_item:eq(" + rel +")";
        var inputstringold="#destination .carousel_item:eq(" + old +")";
        $(inputstringold).hide();
        $(inputstringrel).show();
        old=rel;
      });

    });

%h1=@seminar.title
%ul#source.seminar_menu
  %li
    %a{class: "customLink", rel: "0"}="Übersicht"
  - counter=1
  - @seminar.infoitems.each do |i|
    %li
      %a{class: "customLink", rel: "#{counter}"}
        =i.menu_title
    -counter+=1
.clear

.sidebar
  .sidebar-inner
    %h3="Termine"
    -@seminar.termines.each do |t|
      .termin
        .icon
          =image_tag ('plus_man.png')
        .date
          %p="#{I18n.l(t.start_date, format: :short)} - #{I18n.l t.end_date, format: :short}"
          %p=@seminar.title
        /   %p=t.address.city
        .clear
        .buy-termin
          = link_to "jetzt anmelden", booking_book_path(termin_id: t.id), class: "button-dark"
        .clear


.big-content
  .carousel
    #destination
      .carousel_item
        .seminar_info
          %h2=@seminar.subtitle
          %p=@seminar.description.html_safe

          -counter = 1
          - @seminar.infoitems.each do |i|
            .border
            .info_item
              %h2= i.title
              %p
                =i.short_description.html_safe
                %a{class: "customLink button-green", rel: "#{counter}"}="mehr davon!"
                -counter+=1
      - @seminar.infoitems.each do |i|
        .carousel_item
          %a{id: "#{i.menu_title}"}
          %h3= i.title
          =i.description.html_safe
