= render 'header'

.sidebar
  .sidebar-inner
    %h3="Termine"
    -@seminar.termines.each do |t|
      .termin
        .icon
          =I18n.l t.start_date, format: :month
          %br
          =t.start_date.year
        .date
          %p
            ="#{I18n.l(t.start_date, format: :short)} - #{I18n.l t.end_date, format: :short}"
            %br
            =@seminar.title
        .clear
        .buy-termin
          = link_to "jetzt anmelden", booking_book_path(termin_id: t.id), class: "button-dark"
        .clear


.big-content
  .seminar_info
    %h2=@seminar.subtitle
    %p=@seminar.description.html_safe

    - @seminar.infoitems.each do |i|
      .border
      .info_item
        %h2= i.title
        %img{src: i.avatar.url, class: cycle('right_pic', 'left_pic')}
        %p
          =i.short_description.html_safe
          %br
          %br
          %a{class: "customLink button-green", href: seminar_detail_path(id: i.id)}="mehr davon!"
        .clear
