%h1=@seminar.title
%ul
  - @seminar.infoitems.each do |i|
    %li
      %a{:href=>"##{i.menu_title}"}
        =i.menu_title
%p=@seminar.description

%h2="Termine"
- @seminar.termines.each do |t|
  %p="#{t.start_date} - #{t.end_date} in #{t.address.city}"

- @seminar.infoitems.each do |i|
  %h3= i. title
  %p
    =i.short_description
    =link_to 'mehr..', '#' 
