.booking
  %h1="Buchung"
  .attendee_formular
    %h2="Persönliche Daten"
    = form_for @attendee, url: booking_do_booking_path, validation: true do |f|
      -if @attendee.errors.any?
        / #error_explanation
        /   %h2= "#{pluralize(@attendee.errors.count, "error")} prohibited this attendee from being saved:"
        /   %ul
        /     - @attendee.errors.full_messages.each do |msg|
        /       %li= msg
      
      %table
        %tr
          %td="Vorname"
          %td= f.text_field :firstname
        %tr
          %td="Nachname"
          %td= f.text_field :lastname
 
        %tr
          %td="Geburtsdatum"
          %td= f.date_select :birthday, end_year: Time.now.year - 100, start_year: Time.now.year
        %tr
          %td="Straße und Hausnummer"
          %td=f.text_field :streetnr
        %tr
          %td="PLZ"
          %td= f.text_field :plz
        %tr
          %td="Stadt"
          %td= f.text_field :city
        %tr
          %td="Email"
          %td= f.email_field :email
        %tr
          %td="Telefon"
          %td= f.phone_field :tel

        =fields_for @reservation do |fr| 
          -if @reservation.errors.any?
            #error_explanation
              %h2= "#{pluralize(@reservation.errors.count, "error")} prohibited this reservation from being saved:"
              %ul
                - @reservation.errors.full_messages.each do |msg|
                  %li= msg
          %tr
            %td{style: "vertical-align: top"}="Kommentar (optional)"
            %td
              = fr.text_area :comment, rows: 5
              = fr.hidden_field :termine_id, value: @termin.id
          %tr
            %td="Preiskategorie"
            %td
              -@termin.seminar.prices.each do |p|                                  
                =fr.radio_button :price_id, p.id
                ="#{p.priceclass.name} - #{p.price} €"
                %br
          %tr
            %td{colspan: 2}                
              .space
                =fr.check_box :checked
                ="Hiermit bestätige ich dass ich mich verbindlich anmelde."
        %tr
          %td
            = f.submit 'Anmelden', class: "button-dark"
          %td


  .booking_info
    %h3=@termin.seminar.title
    %table
      %tr
        %td="Beginn"
        %td=I18n.l @termin.start_date
      %tr
        %td="Ende"
        %td=I18n.l @termin.end_date
      %tr
        %td="Dauer"
        %td=(@termin.end_date-@termin.start_date).to_i.to_s + " Tage"

    
    %h3="Kosten"
    %table
      -@termin.seminar.prices.each do |p|
        %tr
          %td=p.priceclass.name
          %td=p.price.to_s + " €"

    
    %h3="Standort"
    =render 'seminar/location', termin: @termin