%h1.title=@seminar.title

.top_picture
  .subtitle
    %p=@seminar.subtitle
  .seminar_index_pic{style: "background: transparent url('#{@seminar.indexpic.url}') center center"}

.info_text
  %p=@seminar.description.html_safe
.location
  - if @seminar.termines.first
    = render 'seminar/location', termin: @seminar.termines.first

.space

%h2="WAS DICH ERWARTET"
= render 'seminar/preview_info_items.html.haml', seminar: @seminar, exclude: -99
.space

%h2="INVESTITIONEN"
.left
  .info_item
    =image_tag('Time.jpg')
    -@seminar.termines.each do |t|
      .termin
        .icon
          =I18n.l t.start_date, format: :month
          %br
          =t.start_date.year
        .date
          %p
            ="#{I18n.l(t.start_date, format: :short)} - #{I18n.l t.end_date, format: :short}"
            %br
            =@seminar.title
            %br
        .clear
        .buy_termin
          = link_to "jetzt anmelden", booking_book_path(termin_id: t.id)

.right
  .info_item
    =image_tag('Money2.jpg')
    %table.price_table
      -@seminar.prices.each do |p|
        %tr
          %td.priceclass=p.priceclass.name
          %td.price=p.price.to_s + " €"

 
