.header
  =image_tag "YYLogo.png"
  .menu
    %ul
      %li.home_menu_item
        %a{href: "#{home_index_path}"}
          =image_tag('Home.png')
      %li.first_menu_item
        %a{href: "#{home_about_path}"}="Über NLP Lifetuning"
      %li
        %a{href: "#{seminar_index_path}"}="Seminare"
      %li
        %a{href: "#{trainer_index_path}"}="Trainer"
      %li
        %a{href: "#{home_success_path}"}="Unsere Erfolgskonzept"
      %li
        %a{href: "#{home_contact_path}"}="Kontakt"
      %li
        %a{href: "#"}

    .clear