.header
  =image_tag "YYLogo.png"
  .menu
    %ul
      %li
        %a{href: "#{home_index_path}"}="Home"
      %li
        %a{href: "#{home_about_path}"}="Mission"
      %li
        %a{href: "#{seminar_index_path}"}="Seminare"
      %li
        %a{href: "#{trainer_index_path}"}="Trainer"
      %li
        %a{href: "#{home_contact_path}"}="Kontakt"
      %li
        %a{href: "#"}

    .clear